.c-div-dialog{
    width: 500px;
}

.main-div-dialog{
    width: 100%;
}

.close-div- dialog{
    padding: 0px 20px;
}
.icons-div-dialog{
    gap: 20px;
}
.close-icon-dialog{
    padding-left: 80px;

}